spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASS}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  data:
    mongodb:
      host: ${MONGO_HOST}
      port: ${MONGO_PORT}
      database: ${MONGO_DB_NAME}
      username: ${MONGO_USER}
      password: ${MONGO_PASS}
      authentication-database: admin 

jwt:
  secret: ${JWT_SECRET}

# This configures the Spring Boot Actuator
management:
  endpoint:
    health:
      # This tells Actuator to show the full details,
      # including the status of 'db' and 'mongo'.
      show-details: always
  health:
    # This enables the built-in health checks for databases
    db:
      enabled: true
    mongo:
      enabled: true