spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASS}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  data:
    mongodb:
      uri: mongodb://${MONGO_USER}:${MONGO_PASS}@${MONGO_HOST}:${MONGO_PORT}/${MONGO_DB_NAME}?tls=true&replicaSet=rs0&readPreference=secondaryPreferred&retryWrites=false
      ssl:
        enabled: true
      replica-set: rs0
jwt:
  secret: ${JWT_SECRET}
# This configures the Spring Boot Actuator
management:
  endpoint:
    health:
      show-details: always
  health:
    db.enabled: true
    mongo.enabled: true