spring:
  main:
    allow-bean-definition-overriding: true
  datasource:
    url: jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASS}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  data:
    mongodb:
      uri: mongodb://${MONGO_USER}:${MONGO_PASS}@${MONGO_HOST}:${MONGO_PORT}/${MONGO_DB_NAME}?tls=true&replicaSet=rs0&readPreference=secondaryPreferred&retryWrites=false
      ssl:
        enabled: true
      replica-set: rs0
  mail:
    host: ${MAIL_HOST}           # e.g., email-smtp.ap-south-1.amazonaws.com OR smtp.gmail.com
    port: ${MAIL_PORT}           # usually 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
jwt:
  secret: ${JWT_SECRET}
  accessTokenExpirationMs: 900000     # 15 minutes
  refreshTokenExpirationMs: 604800000 # 7 days (matches the cookie)
# This configures the Spring Boot Actuator
management:
  endpoint:
    health:
      show-details: always
  health:
    db.enabled: true
    mongo.enabled: true